<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Management.Automation"
										publicKeyToken="31bf3856ad364e35"
										culture="neutral" />
				<publisherPolicy apply="no"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.PowerShell.Security"
										publicKeyToken="31bf3856ad364e35"
										culture="neutral" />
				<publisherPolicy apply="no"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.PowerShell.ConsoleHost"
										publicKeyToken="31bf3856ad364e35"
										culture="neutral" />
				<publisherPolicy apply="no"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.PowerShell.Commands.Utility"
										publicKeyToken="31bf3856ad364e35"
										culture="neutral" />
				<publisherPolicy apply="no"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.PowerShell.Commands.Management"
										publicKeyToken="31bf3856ad364e35"
										culture="neutral" />
				<publisherPolicy apply="no"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
